body {
    background-image: url(../images/paintdrip2.JPG);
    background-attachment: fixed;
}

button {
    font-size: 18pt;
    background-color: hotpink;
    border: outset;
    position: fixed;
    top: 0%;
    left: 0%;
}

.gallery {
    margin: 1px;
    border: 4px double lightpink;
    float: left;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery:hover {
    border: 8px double white;
}

.gallery img {
    width: 99%;
    height: auto;
}

.caption {
    padding: 5px;
    text-align: center;
    color: white;
}