li {    
    color: red; 
}

body {
    text-align: center;
}

.container {
    overflow: hidden;
}

.sliding-background {
    background: url(./images/home-background.jpg)
}
/*
html {
    property: value;
}
*/
